Release/
Test/
x64/
Release x86_64/
*.ncb
*.opt
*.rc_mac_dlg
*.rc_mac_menu
*.plg
*.sdf
*.o
*.mode1*
*.pbxuser
*.aps
*.user
*.suo
*.opensdf
*~
*.ilk
*.ipch
*.lnk
*.exe
*.pkg
*.dmg
*.cache
*.depend
*.layout
*.db
*.LSOverride
*.xcworkspace
*xcuserdata*
*.xcschememanagement.plist
.DS_Stor*
sws_extension_vs12.VC.VC.opendb
