# External files
/vendor/*
!/vendor/WDL
!/vendor/CMakeLists.txt

# CMake files
CMakeCache.txt
CMakeFiles/
*.cmake

# Generated build files
Makefile

# Build artifacts
/lib/
/bin/
reascript_vararg.h
sws_extension.rc_mac_dlg
sws_extension.rc_mac_menu
sws_python32.py
sws_python64.py
